article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-image: url(../images/rlgbg.png);
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 0 15%;
  margin: 2% auto;
  width: 100%;
  -webkit-transition: all 0.5s;
}

ul.expanded {
  padding-left: 0;
  z-index: 44;
  margin-top: 0;
}

#nav-trigger {
  display: none;
  text-align: center; 
}

#nav-trigger span {
  display: inline-block;
  width: 100%;
  background-color: #D3DEE6;
  color: #242424;
  cursor: pointer;
  font-size: 2.5em;
  padding: 10px;
  border-bottom: solid 1px #fff;
}

#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
  border-left: solid 10px transparent;
  border-top: solid 10px #242424;
  border-right: solid 10px transparent; 
}

#nav-trigger span:hover {
  background-color: #97AAB6; 
}
#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #fff;
  border-right: solid 10px transparent; 
}

nav#nav-main {
  display: none;
}

nav#nav-mobile {
  position: relative;
  display: none; 
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #D3DEE6;
}

nav#nav-mobile li {
  display: block;
  margin: 0 5px;
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile a {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  display: block;
  color: #0C2C52;
  padding: 15px 30px;
  text-decoration: none;
}

nav#nav-mobile a:hover {
  background-color: #0B2B52;
  color: #fff; 
}

h1 {
  text-align: right;
  padding: 10% 5% 10% 0;
  color: #4e748b;  
  font-size: 5.5vw;
  font-family: 'Lobster Two', Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 0px #0C2C52, 4px 4px 0px rgba(0,0,0,0.15);
  background-image: url('../images/bannerimg2.png'), url('../images/RLGlogo3.png');
  background-position: right, left;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.logoMobile {
  display:none;
}

h2 { 
  font-size: 2.5em;
  text-align: center;
  color: #3f596a; 
  text-shadow: 1px 1px 0px #0C2C52, 4px 4px 0px rgba(0,0,0,0.15);
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
}


h3 {
  font-size: 2em;
  color: #678ca4;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: 1px solid #3f596a;
}

h4 {
  font-size: 1em;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  color: #678ca4;
  letter-spacing: 1px;
  border-bottom: 1px solid #3f596a;
}

p {
  font-size: 1.2em;
  color: #242424;
  font-family: 'Raleway', sans-serif;
}

.textBanner {
  background-color: #D3DEE6;
  border-radius: 20px;
  border: 1px solid #fff;
}

/* Navigation START */

.headerNav {
  display: none;
}

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #D3DEE6;
  z-index: 7;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-top: 2%;
}

.menu li {
  float: left;
  width: 16.6%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0C2C52;
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  z-index: 9;
  font-family: 'Raleway', sans-serif;
}

li.slider, .firstActive {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

li.slider, .active {
  width: 16.6%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0B2B52;
  z-index: 8;
  -webkit-transition: left 0.4s, background-color 0.4s;
  transition: left 0.4s, background-color 0.4s;
}

ul li a.firstActive, ul li a.active, ul li a.lastActive {
  color: #B4C6D1;
}

.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #97B1C1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 16.6%;
  background-color: #B4C6D1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 33.2%;
  background-color: #97AAB6;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 49.8%;
  background-color: #97B1C1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu li:nth-child(5):hover ~ .slider,
.menu li:nth-child(5):focus ~ .slider,
.menu li:nth-child(5):active ~ .slider {
  left: 66.4%;
  background-color: #B4C6D1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu li:nth-child(6):hover ~ .slider,
.menu li:nth-child(6):focus ~ .slider,
.menu li:nth-child(6):active ~ .slider {
  left: 83.5%;
  background-color: #97AAB6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.firstPanel {
  background: #f7f7f7;
  width: 70%;
  float: left;
  margin-bottom: 2%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  backface-visibility: hidden;
}

.secondPanel {
  padding: 0 1%;
  background: #f7f7f7;
  width: 30%;
  float: left;
  margin-bottom: 2%;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


/* FIRST PANEL INFO HERE */

.firstPanelContent {
  padding: 0 2%;
  text-align: center;
}

.flexslider .slides li {
  position:relative;
}

.flex-caption {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background: rgba(180,198,209, 0.8);    
  z-index:1;
  padding:5px;
}

.firstPanelContent p {
  text-align: left;
}

.firstPanelContent img {
  margin: 1% auto;
  display: block;
  border-radius: 20px;
}

.AGSbanner {
  margin: 5% 0;
}

.AGSbanner img {
  border-radius: 0px;
}

.firstPanelText a {
  text-decoration: none;
  color: #242424;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  outline: none;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.firstPanelText a::before,
.firstPanelText a::after {
  pointer-events: none;
  backface-visibility: hidden;
}

.firstPanelText a::before {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: -1;
  box-sizing: content-box;
  padding: 0 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #D3DEE6;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.firstPanelText a:hover::before,
.firstPanelText a:focus::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.firstPanelText {
  padding: 0 2%;
}

/* SECOND PANEL INFO HERE */

.secondPanel a, .footerText a, .thirdPanel a, .headerNav a, .AGSbanner a {
  color: #242424; 
  text-decoration: none;
  margin: 2% 0;
  font-family: 'Raleway', sans-serif;
}

.secondPanel img {
  padding: 5%;
}

.secondPanelImgs {
  margin: 10% 0;
  padding: 0 15%;
}

.thirdPanel {
  display: none;
}

.iframestyle {
  border: none;
  text-align: center;
  width: 200px;
  height: 100px;
}

/* FOOTER IS HERE */

.footerText {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  margin: 2% 0;
}

/* MEDIA QUERIES ARE HERE */

@media screen and (max-width: 1024px) {

  h1 {
    font-size: 7.7vw;
  }

  .firstPanel {
    background: #f7f7f7;
    width: 100%;
    margin-bottom: 2%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .secondPanel {
    display: none;
  }  

  .wrapper {
    padding: 0;
    position: relative;
  }

  .thirdPanel {
    overflow: hidden;
    margin-top: 2%;
    display: block;
    width: 100%;
    background: #f7f7f7;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
  }

  .thirdPanelContainer {
    padding: 0 5%;
    width: 33.3%;
    float: left;
  }

  .thirdPanelImgs a {
    margin: 5% 0;
  }

  .breeders {
    margin: 15% 0;
  }
}

@media screen and (max-width: 680px) {

  .wrapper {
    margin: 0;
  }

  .menu {
    display: none;
  }

  .textBanner {
    margin: 2% 0;
    border-radius: 0px;
  }

  /* HAMBURGER MENU START */

  #nav-trigger {
    display: block; }

    nav#nav-mobile {
      display: block; } 

      .firstPanel {
        border-radius: 0px;
      }

      .thirdPanel {
        border-radius: 0px;
        position: relative;
      }

    }

    @media screen and (max-width: 420px) {



      h1 {
        text-align: center;
        padding: 5% 0 5% 0;  
        font-size: 12vw;
        background-image: none;
      }

      .logoMobile {
        display: block;
        margin: 10px 0;
      }

      .flex-caption {
        position:absolute;
        left:0;
        right:0;
        bottom:-12px;
        background: rgba(180,198,209, 0.6);    
        z-index:1;
        padding: 0;
      }

      .firstPanelContent img {
        border-radius: 0;
      }

      div.flexslider {
        margin-bottom: 20%;
      }

      .thirdPanelContainer {
        width: 100%;
        margin-bottom: 2%;
      }

      .thirdPanelContainer img {
        display: block;
        margin: 0 auto;
      }

      .breeders {
        margin-bottom: 1%;
      }

    }



    